<h1><%= @team_name %></h1>

<h2>Team Motto: <%= @team_motto%></h2>

<h2>Hero Name: <%= @member1["name"] %></h2>
<h2>Hero Power: <%= @member1["power"] %></h2>
<h2>Hero Biography: <%= @member1["bio"] %></h2>

